{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href=" {% static 'css/index.css' %} ">

</head>
<body>
    
    <main>  
            <h1>Hello World, Templastes!</h1>
            {% comment %} {{discos}} {% endcomment %}

            {% for discos in discos %}
                <h2><a href="{% url 'Detalhes' discos.id %}">{{discos.nome}}</a></h2>
            {% endfor %}
    </main>
    
</body>
</html>